<!DOCTYPE html>
<html dir="rtl">
<head>
<meta charset="UTF-8">
<title>اتصل بنا</title>

<style>
body{
background:#081633;
color:white;
font-family:sans-serif;
text-align:center;
padding:50px;
}

.card{
background:#1e293b;
padding:30px;
border-radius:15px;
max-width:600px;
margin:auto;
}

a{
color:#60a5fa;
text-decoration:none;
}
</style>

</head>
<body>

<div class="card">
<h1>📞 اتصل بنا</h1>

<p>تيليجرام: @@Eu_b0</p>

<p>البريد: @gmail.com</p>

<p>انستا:i6_af </p>

<br>

<a href="/">🏠 العودة للرئيسية</a>
</div>

</body>
</html>
